.commonForm-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 2px 8px;
  border-bottom: 1px solid #e8e8e8;
}

.commonForm-search .ant-input {
  width: 160px;
  margin-left: 8px;
}

.commonForm-toolbar .ant-btn {
  margin-left: 8px;
}

.commonForm-edit .ant-input-number {
  width: 100%;
}

.commonForm-edit .ant-input-number-handler-wrap {
  display: none;
}

.commonForm-hidden {
  display: none!important;
}